<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Club List
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin']">Dashboard</a>
      </li>
      <li class="active">
        <i class="fa fa-fw fa-link"></i>  Club List
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->

<div class="row grid-wrapper" fadeInDirective *ngIf="!showForm">
  <div class="col-lg-12">
    <nav class="jumbotron filter-wrapper">
      <div class="container">
        <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add Club"
           (click)="addClub()"
           href="javascript:void(0)"> Add Club </a>
      </div>
    </nav>
    <div class="table-responsive">
      <table class="tablesorter table table-bordered table-hover table-striped">
        <thead class="thead-inverse">
        <tr #colCount>
          <th>SN</th>
          <th>Club Name</th>
          <th>Active</th>
          <th>Actions</th>

        </tr>
        </thead>

        <tbody *ngIf="objListResponse?.dataList?.length>0">
        <tr *ngFor="let obj of objListResponse.dataList let i=index">
          <td>{{i+1}}</td>
          <td>{{obj.clubName}}</td>
          <td [ngSwitch]="obj.active">
            <i *ngSwitchCase="true" class="fa green fa-check" aria-hidden="true"></i>
            <i *ngSwitchCase="false" class="fa red fa-times" aria-hidden="true"></i>
          </td>

          <td class="action">
            <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(obj._id)"
               href="javascript:void(0)"></a>
            <a class="fa fa-trash red-hover" (click)="delete(obj._id)"
               title="Delete"
               href="javascript:void(0)"></a>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="objListResponse?.dataList?.length==0">
        <tr>
          <td [attr.colspan]="colCount.children.length">No Record Found</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--<div class="is-text-centered" *ngIf="objListResponse?.length>0">-->
  <!--<pagination *ngIf="objListResponse"-->
  <!--[(currentPage)]="currentPage"-->
  <!--totalPages="{{totalPage}}"-->
  <!--pagesAtOnce="5"-->
  <!--[showSelect]="false"-->
  <!--[showEnds]="true"-->
  <!--[showSteps]="true"-->
  <!--(currentPageChange)="pageChanged($event)">-->
  <!--</pagination>-->
  <!--<div class="divVPP"> View Per Page :-->
  <!--<select [ngModel]="perPage" class="sltViewPerPage" (change)="vppChanged($event)">-->
  <!--<option value="5" selected>5</option>-->
  <!--<option value="10" selected>10</option>-->
  <!--<option value="20">20</option>-->
  <!--<option value="50">50</option>-->
  <!--<option value="100">100</option>-->
  <!--</select>-->
  <!--</div>-->
  <!--</div>-->
</div>

<club-editor *ngIf="showForm" [clubId]="clubId"
                (showClubListEvent)="showClubList($event)"></club-editor>
