<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <form role="form" novalidate [formGroup]="clubForm" (ngSubmit)="saveClub()">
      <div class="form-group">
        <label>Club Name</label>
        <input type="text" class="form-control" [(ngModel)]="objClub.clubName"
               placeholder="Enter Image Title"
               [formControl]="clubForm.controls['clubName']">
        <control-messages  [isSubmitted]="isSubmitted"
                           [control]="clubForm.controls['clubName']"></control-messages>
      </div>
      <div class="form-group">
        <label>Club ID</label>
        <input type="text" class="form-control" [(ngModel)]="objClub.clubInternationalID"
               placeholder="Enter Club ID"
               [formControl]="clubForm.controls['clubInternationalID']">
        <control-messages  [isSubmitted]="isSubmitted"
                           [control]="clubForm.controls['clubInternationalID']"></control-messages>
      </div>

      <div class="form-group">
        <label>Club Sponsor</label>
        <input type="text" class="form-control" [(ngModel)]="objClub.clubSponsorName"
               placeholder="Enter Sponsoring Club Name"
               [formControl]="clubForm.controls['clubSponsorName']">
        <control-messages  [isSubmitted]="isSubmitted"
                           [control]="clubForm.controls['clubSponsorName']"></control-messages>
      </div>

      <div class="form-group">
        <label>Zone</label>
        <input type="text" class="form-control" [(ngModel)]="objClub.clubZone"
               placeholder="Enter Zone"
               [formControl]="clubForm.controls['clubZone']">
        <control-messages  [isSubmitted]="isSubmitted"
                           [control]="clubForm.controls['clubZone']"></control-messages>
      </div>

      <div class="form-group">
        <label>Club Hyperlink</label>
        <input type="text" class="form-control" [(ngModel)]="objClub.linkURL"
               placeholder="Enter hyperlink"
               [formControl]="clubForm.controls['linkURL']">
        <control-messages  [isSubmitted]="isSubmitted"
                           [control]="clubForm.controls['linkURL']"></control-messages>
      </div>

      <div class="form-group">
        <label>Image Alt Text</label>
        <input type="text" class="form-control" [(ngModel)]="objClub.imageAltText"
               placeholder="Enter alternate text"
               [formControl]="clubForm.controls['imageAltText']">
        <control-messages [isSubmitted]="isSubmitted"
                          [control]="clubForm.controls['imageAltText']"></control-messages>
      </div>

      <div class="form-group">
        <image-uploader [isSubmitted]="isSubmitted" [canvasSize]="canvasSize"
                        [imageFormControl]="imageFormControl"
                        (deleteImageEvent)="deleteImage($event)"
                        [imageName]="objClub.imageName" [drawImagePath]="drawImagePath"
                        (fileSelectedEvent)="changeFile($event)"></image-uploader>

      </div>
      <div class="form-group">
        <label>
          <md-checkbox [checked]="objClub.active" formControlName="active"
                       [(ngModel)]="objClub.active">
            Active
          </md-checkbox>
        </label>
      </div>

      <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>  Save</button>
      <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel</button>
    </form>
  </div>
</div>

