<div class="row grid-wrapper" fadeInDirective *ngIf="!showForm">
  <div class="col-lg-12">
    <div class="jumbotron filter-wrapper">
      <div class="container">
        <a class="navbar-brand fa fa-plus-circle btn btn-primary" title="Add News Designation"
           (click)="addDesignation()"
           href="javascript:void(0)"> Add News Designation</a>
      </div>
    </div>

    <div class="table-responsive">
      <table class="tablesorter table table-bordered table-hover table-striped">
        <thead class="thead-inverse">
        <tr #colCount>
          <th>SN</th>
          <th>Designation</th>
          <th>Allow Multiple</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let obj of objListResponse let i=index">
          <td>{{i+1}}</td>
          <td>{{obj.designationName}}</td>
          <td>
            <i *ngIf="obj.allowMultiple" class="fa green fa-check" aria-hidden="true"></i>
            <i *ngIf="!obj.allowMultiple" class="fa red fa-times" aria-hidden="true"></i>
          </td>
          <td>
            <i *ngIf="obj.active" class="fa green fa-check" aria-hidden="true"></i>
            <i *ngIf="!obj.active" class="fa red fa-times" aria-hidden="true"></i>
          </td>
          <td class="action">
            <a class="fa fa-pencil-square-o" title="Edit" (click)="edit(obj._id)"
               href="javascript:void(0)"></a>
            <a class="fa fa-trash red-hover" (click)="delete(obj._id)" title="Delete"
               href="javascript:void(0)"></a>

          </td>
        </tr>
        </tbody>
        <tbody *ngIf="objListResponse?.length==0">
        <tr>
          <td [attr.colspan]="colCount.children.length">No Record Found</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<designation-editor *ngIf="showForm" [designationId]="designationId"
                      (showListEvent)="showDesignationList($event)"></designation-editor>
<!--<div class="is-text-centered">-->
<!--<pagination-->
<!--[(currentPage)]="currentPage"-->
<!--totalPages="{{totalPage}}"-->
<!--pagesAtOnce="5"-->
<!--[showSelect]="false"-->
<!--[showEnds]="true"-->
<!--[showSteps]="true"-->
<!--(currentPageChange)="pageChanged($event)">-->
<!--</pagination>-->
<!--<div class="divVPP"> View Per Page :-->
<!--<select [ngModel]="perPage" class="sltViewPerPage" (change)="vppChanged($event)">-->
<!--<option value="5" selected>5</option>-->
<!--<option value="10" selected>10</option>-->
<!--<option value="20">20</option>-->
<!--<option value="50">50</option>-->
<!--<option value="100">100</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->

