<div class="row form-outer" fadeInDirective>
  <div class="col-lg-12 form-wrapper">
    <form role="form" novalidate [formGroup]="designationForm" (ngSubmit)="saveDesignation()">
      <div class="col-lg-6">
        <div class="form-group">
          <label> Name</label>
          <input type="text" class="form-control" [(ngModel)]="objDesignation.designationName" name="designationName"
                 placeholder="Enter Designation" [formControl]="designationForm.controls['designationName']">
          <control-messages [isSubmitted]="isSubmitted"
                            [control]="designationForm.controls['designationName']"></control-messages>
        </div>
        <div class="form-group">
          <label>
            <md-checkbox [checked]="objDesignation.allowMultiple" formControlName="active"
                         [(ngModel)]="objDesignation.allowMultiple">
              Allow Multiple
            </md-checkbox>
          </label>
        </div>

        <div class="form-group">
          <label>
            <md-checkbox [checked]="objDesignation.active" formControlName="active"
                         [(ngModel)]="objDesignation.active">
              Active
            </md-checkbox>
          </label>
        </div>
        <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>  Save</button>
        <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
        </button>

      </div>

    </form>
  </div>
</div>

